.App{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #002F52 35%, #326589);
}

.App-header{
  background-color: white;
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
}

.opcoes{
  display:flex
}

.opcao{
  min-width: 120px;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
}

.icones{
  display: flex;
  align-items: center;
}

.icone{
  margin-right: 40px;
  align-items: center;
}